body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #fcc3a3;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #270f36;
  overflow-x: hidden;
  flex-direction: column;
  display: flex;
  z-index: 1;
}

.sidenav li {
  color: white;
  padding: 16px;
  display: block;
}

.sidenav li:hover {
  background-color: #ddd;
  color: black;
}

.content {
  margin-left: 200px;
  padding-left: 20px;
  text-align: center;
}
#p01 {
  color: blue;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .sidenav {
    width: 250px;
  }

  .content {
    margin-left: 250px;
  }
}

/* tablets */
@media only screen and (max-width: 919px) and (min-width: 401px) {
  .sidenav {
    width: 200px;
  }

  .content {
    margin-left: 200px;
  }

  .sidenav,
  .content {
    flex-direction: column;
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidenav li {
    float: left;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }
}
